body{
    margin: 0 auto;
    width: 100%;
    max-width: 1920px;
    background-color: #01a8d1;
    font-style: italic;
}

header{
    position: relative;
    height: 150px;
    border: 30px solid transparent;
}

form{
    border: 30px solid transparent;
}

footer{
    background: linear-gradient(#01a8d1,#b4f0ff, #01a8d1);
    height: 160px;
    margin-top: auto
}

center{
    font-style: italic;
}

tbody{
    border: 30px;
    font-style: italic;
}









