body{
    margin: 0 auto;
    width: 100%;
    max-width: 1920px;
    background-color: #01a8d1;
    font-style: italic;
}

header{
    position: relative;
    height: 150px;
}

footer{
    background: linear-gradient(#01a8d1,#00beee, #01a8d1);
    height: 160px;
    margin-top: auto
}

tbody{
    border: 30px;
    font-style: italic;
}

tr{
    background-color: #008caf;
}

/*LOGIN*/
input#email_log{
    border-radius: 9px;
    border-color: #848484;
}

input#senha_log{
    border-radius: 9px;
    border-color: #848484;
}


/*ADICIONAR CONTATO*/
input#nome_cont_add{
    border-radius: 9px;
    border-color: #848484;
}

input#ddd_cont_add{
    border-radius: 9px;
    border-color: #848484;
}

input#telefone_cont_add{
    border-radius: 9px;
    border-color: #848484;
}

input#email_cont_add{
    border-radius: 9px;
    border-color: #848484;
}

input#cpf_cont_add{
    border-radius: 9px;
    border-color: #848484;
}

input#endereco_cont_add{
    border-radius: 9px;
    border-color: #848484;
}


/*EDITAR CONTATO*/
input#nome_cont_edit{
    border-radius: 9px;
    border-color: #848484;
}

input#ddd_cont_edit{
    border-radius: 9px;
    border-color: #848484;
}

input#telefone_cont_edit{
    border-radius: 9px;
    border-color: #848484;
}

input#email_cont_edit{
    border-radius: 9px;
    border-color: #848484;
}

input#cpf_cont_edit{
    border-radius: 9px;
    border-color: #848484;
}

input#endereco_cont_edit{
    border-radius: 9px;
    border-color: #848484;
}

/*ADICIONAR USUÁRIO*/
input#nome_usu_add{
    border-radius: 9px;
    border-color: #848484;
}

input#email_usu_add{
    border-radius: 9px;
    border-color: #848484;
}

input#email_usu_add{
    border-radius: 9px;
    border-color: #848484;
}

input#senha_usu_add{
    border-radius: 9px;
    border-color: #848484;
}

input#perm_usu_add{
    border-radius: 9px;
    border-color: #848484;
}

/*EDITAR USUÁRIO*/
input#nome_usu_edit{
    border-radius: 9px;
    border-color: #848484;
}

input#email_usu_edit{
    border-radius: 9px;
    border-color: #848484;
}

input#perm_usu_edit{
    border-radius: 9px;
    border-color: #848484;
}


